# Python files that are not meant to be tracked (if any)
app/practics.py
app/schedular.py

# Database files
*.db

# Static HTML files (if they should not be tracked)
jamal.html
mazhar.html

# Sensitive data files
user_tokens.json
